# Name: Colocalization Finder

# Author: Jerome Mutterer & Christophe Laumonnerie
# Version: 1.2
# Date: 29/08/2006
# Requires: ImageJ 1.37a

#Plugins, "Colocalization Finder...", Colocalization_Finder("")
#Plugins>Analyze, "New Corsen Plugin", NewCorsenImageJPlugin("")
Plugins, "Corsen Plugin", CorsenImageJPlugin("")
Help>About Plugins, "Corsen Plugin...", CorsenImageJPlugin("about")
