# Name: Corsen Plugin

# Author: Laurent Jourdren & Mathilde Garcia
# Version: 1.0
# Date: 01/09/2008
# Requires: ImageJ 1.37a

#Plugins, "Colocalization Finder...", Colocalization_Finder("")
Plugins>Analyze, "Corsen Plugin", CorsenImageJPlugin("")
#Plugins, "Corsen Plugin", CorsenImageJPlugin("")
Help>About Plugins, "Corsen Plugin...", CorsenImageJPlugin("about")
